.wrapper{
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  position: fixed;
  width: 75%;
  top:50px;
  left: 27%;
}
body{
  background-color: black;
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
}
.img{

  width: 120px;
  height: 80px;

}
a{
  font-size:200%;
}
@keyframes colorchange
{
  0%   {background: black;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: purple;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: black;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: purple;}
}
